<ion-header no-border>
  <ion-toolbar color="dark">
    <ion-title>
      News
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <ion-grid fixed>
    <ion-row>

      <ion-col *ngFor="let news of newsArticles">
        <ion-card color="dark">

          <ion-card-header>
            <ion-card-subtitle> {{ news.source.name }} </ion-card-subtitle>
            <ion-card-title> {{ news.title }} </ion-card-title>
          </ion-card-header>

          <ion-img  *ngIf="news.urlToImage" 
                    [src]="news.urlToImage"></ion-img>

          <ion-card-content>
            <p> {{ news.description }} </p>
          </ion-card-content>

        </ion-card>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>
