<app-header title="Listas/Slides"></app-header>

<ion-content>

  <ion-list>
    <ion-item-sliding *ngFor="let user of userList | async ">
      <ion-item>
        <ion-label> 
          <h3>{{ user.name }}</h3>
          <p>{{ user.email }}</p>
        </ion-label>
  
        <ion-label slot="end" text-rigth>
          {{ user.phone }}
        </ion-label>
      </ion-item>
      
      <ion-item-options side="start">

        <ion-item-option (click)="delete(user)" color="danger">
          <ion-icon name="trash" slot="icon-only"></ion-icon>
        </ion-item-option>
        <ion-item-option (click)="archive(user)" color="secondary">
          <ion-icon name="archive" slot="icon-only"></ion-icon>
        </ion-item-option>
      </ion-item-options>

      <ion-item-options side="end">
        <ion-item-option (click)="favorite(user)" color="tertiary">
          <ion-icon name="heart" slot="icon-only"></ion-icon>
        </ion-item-option>
      </ion-item-options>

    </ion-item-sliding>
  </ion-list>

</ion-content>
