<app-header title="Inputs y Fomrs"></app-header>

<ion-content>

  <ion-list>

    <ion-list-header>
      <ion-label>Nombre: {{ nombre || 'Nameless' }}</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input type="text"
                 [(ngModel)]="nombre">
      </ion-input>
    </ion-item>
  </ion-list>

  <form #formulario="ngForm" (ngSubmit)="onFormSubmit()">

    <ion-list>

      <ion-list-header>
        <ion-label>El formulario es valido: {{ formulario.valid }}</ion-label>
      </ion-list-header>

      <ion-item>

          <ion-label position="floating">Email</ion-label>
          <ion-input type="email"
                     name="email"
                     pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"
                     [(ngModel)]="usuario.email"
                     required>
          </ion-input>

      </ion-item>

    </ion-list>

  </form>

</ion-content>
