<app-header title="Grid"></app-header>

<ion-content padding>

    <ion-row>
        <ion-col *ngFor="let item of [1,1,1,1,1,1,1,1,1,1,1,1]">
            <ion-card>
                <img src="/assets/shapes.svg" />
    
                <ion-card-header>
                    <ion-card-title>This is the Title</ion-card-title>
                    <ion-card-subtitle>A subtitle is goog</ion-card-subtitle>
                    <ion-card-content>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae veritatis in voluptas at natus beatae dignissimos, illo ab veniam neque exercitationem fuga et similique ut commodi qui? Ab, asperiores quibusdam.
                    </ion-card-content>
                </ion-card-header>
            </ion-card>
        </ion-col>
    </ion-row>

</ion-content>
