#map {
    width: 100% !important;
    height: 100% !important;
    background-color: #f6f6f4;
}

.map-back-button {
    position: fixed;
    top: 105px;
    right: -8px;
    font-size: 23px !important;
}