<ion-header>
  <ion-toolbar>
    <ion-searchbar placeholder="Search Movie..."
                   [value]="searchText" 
                   animated
                   debounce="700"
                   (ionChange)="searchMovie( $event )" ></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col text-center>
        <ion-spinner name="crescent"></ion-spinner>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list *ngIf="searchedMovies.length === 0">
    <ion-list-header>
      <ion-label>Suggestions</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let suggested of suggestedMovies"
              (click)="searchText = suggested">
        <ion-label color="primary"> {{ suggested }} </ion-label>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="searchedMovies.length > 0">
    <ion-list-header>
      <ion-label>Results</ion-label>
    </ion-list-header>

    <ion-grid>
      <ion-row>
        <ion-col size="6" *ngFor="let movie of searchedMovies">
          <app-movie-view [movie]="movie" [usePoster]="false"></app-movie-view>
        </ion-col>
      </ion-row>
    </ion-grid>
    
  </ion-list>

</ion-content>
