<ion-app>

  <ion-menu side="start" menuId="principal">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-item>Menu Principal</ion-item>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
    </ion-content>
  </ion-menu>

  <ion-router-outlet></ion-router-outlet>
</ion-app>
