<ion-menu side="start" menuId="principal" contentId="main-outlet">
  <ion-header>
    <ion-toolbar>
      <ion-item color="primary">Menu Principal</ion-item>
    </ion-toolbar>
  </ion-header>
  <ion-content>
      <ion-list>
          <ion-item *ngFor="let menuOption of menuOptions | async"
                    [routerLink]="menuOption.redirectTo">
            <ion-icon [name]="menuOption.icon" slot="start"></ion-icon>
            <ion-label>{{ menuOption.name }}</ion-label>
          </ion-item>
        </ion-list>
  </ion-content>
</ion-menu>
