<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-avatar>
        <img src="/assets/foto_perfil.jpg" />
      </ion-avatar>
    </ion-buttons>

    <ion-title>Avatar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let i of [1,2,3,4,5,6,7,8]">
      <ion-avatar slot="start">
        <img src="/assets/foto_perfil.jpg" />
      </ion-avatar>
      <ion-label>{{i}} - Emmanuel</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
